.cursor-pointer {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.unstyled-link {
  text-decoration: none;
  display: inherit;
  color: inherit !important;
}

.d-contents {
  display: contents;
}
